.maindivH {
    background-image: url("../../background-image/bgcrysis-jpg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont1divH {
    margin-left: 40%;
    padding-top: 5%;
    width: 50%;
}
.titledivH {
    font-size: 40px;
    display: flex;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.enterdivH {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

#inputH {
    padding: 12px 50px;
    background-color: rgb(255, 255, 1);
    font-size: 30px;
    border-width: none;   
    padding-top: 5%;
    transition: 0.2s;
    border-radius: 15px;
}

#inputH:hover {
    background-color: rgb(218, 218, 0);
}
.inputH:focus {
    border: none
}

@media (max-width: 900px) {
    .cont1divH {
        margin: 0 auto;
        padding-top: 40%;
        width: 50%;
    }

    .titledivH {
        font-size: 30px;
    }
}

