.maindivSL {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto; 
    margin-left: 4%;
    margin-right: 4%;
    max-width: 1500px; 
    border: 0 20%;
}

.bigmaindivSL {
    height: 1200px;
    animation-name: grow;
    animation-duration: 0.2s;
}

.big2maindivSL {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filterdivSL {    
    display: flex;
    justify-items: right;
    font-size: 13px;
    width: 20%;
    margin: 0 auto;
}

.cont1SL {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.loadingSL {
    padding-top: 4%;
    padding-right: 10%;
}

.loadingSLHide {
    display: none;
}

.cont1SLHide {
    display: none;
}

.notFound {
    position: absolute;
    margin-top: 10%;
    margin-left: 43%;
    font-size: 30px;
}

.notFoundH {
    display: none;
}
        