.maindivM {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto; 
    margin-left: 4%;
    margin-right: 4%;
    max-width: 1500px; 
    border: 0 20%;
}

.bigmaindivM {
    height: 1200px;
    animation-name: grow;
    animation-duration: 0.2s;
}

.filterdivM {
    display: flex;
    justify-items: right;
    font-size: 13px;
    align-items: flex-end;
}

.cont1 {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nextbuttonM {
    color: white;
    background: rgb(88, 88, 88);
    margin-bottom: 30px;  
    font-size: 14px;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
}

.nextbuttonMH {
    display: none;
}

.contTopGames {
    display: flex;
    margin-top: 10px;
    text-align: start;    
    width: 100%;
    justify-content: space-between;
}

.spanTopGames {
    font-size: 35px;
    /* padding-left: 10px; */
    padding-bottom: 20px;
}

.loadingM{
    padding-left: 70%;
}

.loadingMHide {
    display: none;
}

.cont1Hide {
    display: none;
}

@keyframes grow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
