.maindivGC {
    margin: 10px 0;
    transition: all .2s ease-in-out;    
}
.maindivGC:hover { 
    transform: scale(1.02); 
}

.linkGC {
    color: rgb(214, 214, 214);
    text-decoration:none; 
}

.linkGC:hover {
    color: rgb(255, 255, 255);
     text-decoration:none;
}

.backimage {
    width: 350px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.genredivGC {
    display: flex;
    margin: 1% 0;
    font-size: 13.5px;
    white-space: pre;
    text-decoration: none;
    color: lavender;
}

.linkgenreGC {    
    text-decoration: none;
    color: lavender;
}

.linkgenreGC:hover {
    color: rgb(255, 255, 255);
    text-decoration:none;
}

.namedivGC {
    display: flex;
    font-size: 24px;
    text-align: start;
}

@media (max-width: 600px) {
    .backimage {
        width: 300px;
        height: 200px;
        object-fit: cover;
        box-shadow: 0 0 10px 0 rgba(163, 163, 163, 0.5);
    }

    .genredivGC {
        margin: 1% 2%;
    }

    .namedivGC {
        margin: 0 2%;
    }
}