.maindivAG {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.maindiv2AG {      
    margin: 30px 50px;
    text-align: start;
}

.cont1AG {
    display: flex;
}

.contDescAG {
    display: flex;
    flex-direction: column;
}

.form1AG {
    width: 400px;       
    padding-right: 100px;
}

.inputsAG {
    margin: 8px 0;
}

.titledivAG{
    font-size: 30px;
}

.gamecarddivAG {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spanNS{
    color: red;
}

.spanNH{
    display: none;
}

.contGameCardAG {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    /* max-width: 400px; */
}

@media (max-width: 600px) {
    .cont1AG {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .maindiv2AG {
        margin: 10px auto;
        text-align: start;
    }

    .titledivAG{
        font-size: 40px;
        margin-bottom: 10px;
    }

    .form1AG {
        width: 100%;
        margin: 0 1%
    }

    .contFormAG {
        height: 100%;
    }
}
